[submodule "secondChild"]
	path = secondChild
	url = https://github.com/yangyanqiu/practiceSubmodule.git/secondChild.git
[submodule "practiceSubmodule"]
	path = practiceSubmodule
	url = https://github.com/yangyanqiu/practiceSubmodule
[submodule "Demo"]
	path = Demo
	url = https://github.com/yangyanqiu/Demo
[submodule "Son"]
	path = Son
	url = /Users/Omni_JBL_Test/Desktop/JBL Large/yanqiu/github/practiceSubmodule/Son
